<%= render "shared/header" %>
<div class="btn btn-secondary info-btn">設定</div>
<div class="btn btn-secondary info-btn">編集</div>
<div class = "money-counter">
  <div class = "money-number">--- 円
  </div>
</div>