// 背景
.welcome {
  background-image: image-url('back-image.png');
  height: 100vh;
}

// タイトル
.title {
  text-align: center;
  font-size: 200px;
  margin-bottom: 10vh;
  color: #333;
}

// 新規登録、ログインボタン
.register-list {
  width: 25vw;
  margin: 0 auto;
}

.login-btn {
  margin: 3vh 0 5vh;
}

@media (max-width: 599px) {
 .title {
   font-size: 100px;
   height: 40vh;
   padding-top: 10vh;
 }
 .register-list {
  width: 40vw;
  margin: 30vh auto 0;
}

.login-btn {
  margin: 3vh 0 5vh;
}
}