.welcome {
  background-image: image-url('back-image.png');
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 200px;
  margin-bottom: 10vh;
}


.register-list {
  width: 25vw;
  margin: 0 auto;
}

.login-btn {
  margin-bottom: 5vh;
}

