.header-bar {
  display: flex;
  justify-content: space-between;
}

.title-icon {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin-left: 5vw;
}

.logout-btn {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}