<div class="container hadder-wid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="pashoin-icon">
        <%= link_to 'fashion', items_path, class:"icon col-4 text-center" %>
      </div>


      <div class="col-md-3 text-end">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      </div>
    </header>
</div>