<header class="p-1 bg-dark header-bar">
  <div class="title-icon">
    <%= link_to 'fashion', items_path, class:"text-white text-decoration-none" %>
  </div>
  <div class="logout-btn">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
  </div>
</header>