<% items.each do |item| %>
  <div class="card shadow-sm">
    <%= link_to item_path(item.id) do %>
      <%= image_tag item.image, class: "card-img-top" %>
    <% end %>
    <div class="card-body">
      <%= link_to 'show', item_path(item.id), class:"btn btn-outline-light"%>
    </div>
  </div>
<% end %>