<div class="welcome">
  <h1 class ="title">Welcome To Fashion App</h1>
  <div class="register-list">
    <%= link_to 'ログイン', new_user_session_path, class: "login-btn w-100 btn btn-lg btn-outline-dark" %>
    <%= link_to '新規登録', new_user_registration_path, class: "signin-btn w-100 btn btn-lg btn-outline-dark" %>
  </div>
</div>