.purchase-btn {
  width: 120px;
  background: gray;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
}

.purchase-btn2 {
  width: 100px;
  height: 100px;
  background: gray;
  text-align: center;
  border-radius: 100%;
  bottom: 32px;
  right: 170px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

/* item */
.item-list {
  width: 100vw;
  display: flex;
  padding-top: 5vh;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 23vw !important;
  height: 50vh !important;
  margin: 1vh 0.5vw !important;
}

.card-img-top {
  height: 40vh;
}

.card-body {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  background-color: #333;
  display: flex;
  align-items: center;
}

/* 検索フォーム */

.search-form {
  width: 80vw;
  height: 5vh;
  display: flex;
  padding-top: 3vh;
  margin: 0 auto;
}

.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  height: 5vh;
  border: 0;
  margin-left: 0.5vw;
  border-radius: 10%;
  background-color: rgba(0,0,0,0.4);
  transition: all 0.3s;
}

.search-button:hover {
  background-color: black;
}

.search-icon {
  width: 100%;
}