<%= render "shared/header" %>
<div class="items-sell-main">
  <%= render "shared/registration-edit" %>
  <div class="sell-btn-contents">
    <%=link_to 'もどる', root_path, class:"back-btn btn btn-outline-dark" %>
  </div>
</div>